body,html {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.container {
    
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: row;

    gap: 15px;

    justify-content: center;
    align-items: center;

    flex-wrap: wrap;

    background-color: #f9f3fb;

    overflow: auto;

}